
@import url('https://api.fonts.coollabs.io/css2?family=Outfit&display=swap');

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    color: black;
    text-align: center;
    background: #e6e6e6;
    accent-color: #838383;
}

h1 {
    font-weight: 1000;
    font-size: 4rem;
    text-decoration: none;
    text-align: center;
    color: black;
}

#myInput {
    background-position: 10px 12px;
    background: none;
    background-repeat: no-repeat;
    width: 25%;
    height: 1rem;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #838383;
    outline: none;
    color: black;
    padding: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 4rem;
}

.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(1);
    margin-top: 1rem;
}

.profile-img:hover {
    transform: scale(1.25);
}

#imageGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.profile-id-link {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #myInput {
        width: 75%;
    }

    #imageGallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

main {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
}

@media (prefers-color-scheme: dark) {
    body {
      color: #e6e6e6;
      background: black;
    }
  
    .profile-id-link, h1 {
      color: #e6e6e6;
    }

    #myInput {
        color: #e6e6e6;
    }
  }